.transition-element-container
{
  display: flex;
  align-items: center;
  justify-content: center;
  opacity : 1;
  pointer-events: none;
  animation-name: slideinright;
  animation-duration: 1s;
}

.transition-element-container > *
{
  pointer-events : all;
}

.removing
{
  position : relative;
  animation-name: slideoutright;
  animation-duration: 4s;
  pointer-events : none;
}

@keyframes slideoutright {
    from {
      left:0;
      opacity:1;
    }
    to   {
      left:100%;
      opacity:0;
    }
}

@keyframes slideinright {
  from {
    left:-100%;
    opacity:0;
  }
  to   {
    left: 0;
    opacity: 1;
  }
}